.tic-tac-toe-container {
    clear: both;
    content: "";
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px
}

.square {
    margin-right: -1px;
    margin-top: -1px;
    height: 100px;
    width: 100px;
    padding: 0px;
    text-align: center;
    border: 1px solid red;
    float: left;
    font-size: 40px;
    cursor: pointer;

}