.tree-view-container {
    min-height: 100vh;
    width: 500px;
    background: rgb(0, 71, 110);
}

.menu-item {
    align-items: center;
    gap: 20px;
    cursor: pointer;
    color: #fff;
    display: flex;
}

.menu-list-container {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
}
